@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 750px;
    width: 1440px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.container{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    height: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.text h1{
    color: hsl(234, 12%, 34%);
}
.text p{
    text-align: center;
    color: hsl(229, 6%, 66%);
    padding-top: 15px;
    font-weight: 400;
}

.cards{
    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards h2{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    padding:10px 0 5px 0;
}

.cards p{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}


.part1{
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part2{
    height: 120%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.part3{
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-1{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 6px;
    box-shadow: 0 15px 15px -5px hsla(229, 6%, 66%, 0.5);
}

.card-2{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid hsl(0, 78%, 62%);
    border-radius: 6px;
    box-shadow: 0 15px 15px -5px hsla(229, 6%, 66%, 0.5);
}

.card-3{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid hsl(34, 97%, 64%);
    border-radius: 6px;
    box-shadow: 0 15px 15px -5px hsla(229, 6%, 66%, 0.5);
}

.card-4{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid hsl(212, 86%, 64%);
    border-radius: 6px;
    box-shadow: 0 15px 15px -5px hsla(229, 6%, 66%, 0.5);
}

.head{
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img{
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img img{
    height: 50px;
}



.attribution { font-size: 11px; text-align: center; position: absolute; top: 5px; left: 5px;}
.attribution a { color: hsl(228, 45%, 44%); }



@media (width: 375px) {
    body{
        width: 375px;
        height: 300vh;
    }

    .container{
        height: 90%;
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .cards{
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .text{
        height: 20%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text h1{
        width: 100%;
        font-size: 26px;
    }

    .text p{
        width: 90%;
    }

        
    .part1{
        height: 30%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .part2{
        height: 66%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .part3{
        height: 30%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .attribution {position: absolute; top: 5px; left: 25px;}
}